.history{
    display: flow-root;
    padding-left: 35px;
    padding-bottom: 60px;
}

.history .ui.cards>.card{
    width:200px;
}

.history .users-history, .history .works-history{
    padding: 50px;
}

.history h5:first-child{
    margin-top: 40px;
    margin-left: 5px;
}